body {
    font-family: Roboto;
    background: #2bc0e4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaecc6, #2bc0e4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaecc6, #2bc0e4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
    width: 400px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

.fa-plus {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#fruit {
    color: red;
}

#veggie {
    color: green;
}

#frozen {
    color: blue;
}

#snacks {
    color: indigo;
}

#sauce-noodle {
    color: orange;
}

#dairy {
    color: #483d8b;
}

#others {
    color: brown;
}

li {
    background: white;
    height: 40px;
    line-height: 40px;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

input #category {
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 13px 13px;
    box-sizing: border-box;
    color: blue;
    border: 3px solid rgba(0, 0, 0, 0);
    display: inline-block;
}

#category {
    width: 35%;
}

#submitBtn {
    text-align: center;
}

input:focus {
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}

.completed {
    color: grey;
    text-decoration: line-through;
}